#business-expansion {
  padding: 9vw 0 10rem;
  background-image: url('../assets/images/business-bg.png');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;

  h2.title {
    text-align: center;
    font-size: 9rem;
    line-height: 1;
    max-width: 1220px;
    margin: 0 auto 13rem;

    strong {
      font-weight: 800;
    }
  }

  .components {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .item {
      width: 50%;
      max-width: 600px;
      margin-bottom: 12rem;

      h3 {
        text-align: center;
        font-size: 5rem;
        font-weight: 700;
      }

      .partners {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 4rem 0;
        min-height: 8rem;

        img {
          height: 40px;

          &.short-logo {
            height: 60px;
          }
        }
      }

      .points {
        display: flex;
        justify-content: center;
        gap: 5rem;
        flex-wrap: wrap;
        font-size: 2.4rem;

        li {
          list-style: disc;
          list-style-position: inside;
        }

        @include breakpoint($breakpoint-xs) {
          flex-direction: column;
          align-items: center;
          gap: 0;
          li {
            width: 250px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  #business-expansion {
    h2.title {
      font-size: max(6vw, 4rem);
      margin-bottom: 10rem;
    }
  }
}

@media only screen and (max-width: 1125px) {
  #business-expansion {
    .components {
      .item {
        h3 {
          font-size: 3rem;
        }

        .partners {
          margin: 3rem 0;
        }

        .points {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@include breakpoint($breakpoint-md) {
  #business-expansion {
    .components {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .item {
        width: 100%;
        max-width: none;

        h3 {
          text-align: center;
        }

        .partners {
          justify-content: center;
        }
      }
    }
  }
}

@include breakpoint($breakpoint-sm) {
  #business-expansion {
    .components {
      .item {
        .partners {
          flex-direction: column;
        }
      }
    }
  }
}
