#contact-form {
  padding: 16rem 0;
  background-color: #0e2637;

  @include breakpoint($breakpoint-xs) {
    padding: 10rem 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include breakpoint($breakpoint-xs) {
      flex-direction: column;
    }
  }

  .logo {
    width: 340px;
    margin-bottom: 4.5rem;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    flex-shrink: 0;

    @include breakpoint($breakpoint-md) {
      max-width: 100%;
      margin-bottom: 4rem;
    }
    .address {
      width: 100%;
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    .phone {
      width: 100%;
      font-size: 3rem;
      font-weight: 700;
    }

    @include breakpoint($breakpoint-xs) {
      text-align: left;
      .address {
        font-size: 1.6rem;
      }
      .phone {
        font-size: 2rem;
      }
    }
  }

  .form-container {
    width: 564px;

    @include breakpoint($breakpoint-md) {
      width: 100%;
    }

    textarea,
    input {
      display: block;
      width: 100%;
      padding: 2rem;
      margin-bottom: 2rem;
      font-family: Jarkata;
      border-radius: 8px;

      &::placeholder {
        color: #aaaddd;
        font-weight: 300;
      }
    }

    textarea {
      resize: vertical;
      height: 260px;
      width: 100%;
    }

    .cta-button {
      border: none;
      font-size: 1.8rem;
      margin-top: 2rem;
    }
  }
}
