#hero-banner {
  background-image: url('../assets/images/landing-hero.png');
  max-height: 1000px;
}

#platform-hero {
  background-image: url('../assets/images/platform-hero.png');
  background-position: top center;
}

#hero-banner,
#platform-hero {
  background-size: cover;
  position: relative;
  height: 90vh;

  @include breakpoint($breakpoint-xs) {
    height: 95vh;
    max-height: 650px;
  }

  .container {
    width: 100%;
    @media screen and (orientation: landscape) {
      .container {
        padding-top: 56.25%;
      }
    }
  }

  .content {
    position: absolute;
    top: min(30vw, 30rem);
    left: 0;
    width: 100%;
    max-width: 1920px;
    padding: 0 8rem;

    @include breakpoint($breakpoint-sm) {
      padding: 0 3rem;
    }
  }

  .logo {
    width: 510px;
  }

  .title {
    font-size: 5rem;
    margin-top: 3rem;
    font-weight: 700;
    max-width: 100rem;
  }

  .description {
    font-size: 3rem;
    max-width: 890px;
    margin: 1rem 0 8rem;
  }

  @include breakpoint($breakpoint-lg) {
    .title {
      font-size: 3.6rem;
    }

    .logo {
      width: 40%;
    }

    .description {
      font-size: 2rem;
    }
  }
}
