#hero-banner {
  background-image: url('../assets/images/landing-hero.png');
}

#platform-hero {
  background-image: url('../assets/images/platform-hero.png');
  background-position: top center;
}

#hero-banner,
#platform-hero {
  background-size: cover;
  position: relative;
  height: 90vh;

  @media only screen and (max-width: #{$breakpoint-md}) and (orientation: portrait) {
    height: 95vh;
    max-height: 850px;
  }

  @include breakpoint($breakpoint-sm) {
    display: flex;
    align-items: center;
  }

  @include breakpoint($breakpoint-xs) {
    height: 95vh;
    max-height: 650px;
  }

  @media screen and (max-height: 600px) {
    height: auto;
    max-height: none;
  }

  .container {
    width: 100%;
    @media screen and (orientation: landscape) {
      .container {
        padding-top: 56.25%;
      }
    }
  }

  .content {
    position: absolute;
    bottom: min(30vw, 30rem);
    left: 0;
    width: 100%;
    max-width: 1920px;
    padding: 0 8rem;

    @include breakpoint($breakpoint-md) {
      bottom: min(30vw, 10rem);
    }

    @media only screen and (max-width: #{$breakpoint-lg}) and (orientation: landscape) {
      bottom: min(30vw, 10rem);
    }

    @include breakpoint($breakpoint-xs) {
      position: static;
      padding: 0 0 4rem;
      .title {
        font-size: 2.6rem;
      }
      .description {
        font-size: 1.6rem;
        margin: 2rem 0 4rem;
      }
      .logo {
        width: 200px;
      }
    }

    @media screen and (max-height: 600px) {
      position: static;
      padding: 16rem 0 2rem;
      .title {
        font-size: 2.6rem;
      }
      .description {
        font-size: 1.6rem;
        margin: 2rem 0 4rem;
      }
      .logo {
        width: 200px;
      }
    }
  }

  .logo {
    width: 510px;
  }

  .title {
    font-size: 5rem;
    margin-top: 3rem;
    font-weight: 700;
    max-width: 100rem;
  }

  .description {
    font-size: 3rem;
    max-width: 890px;
    margin: 1rem 0 8rem;
  }

  @include breakpoint($breakpoint-lg) {
    .title {
      font-size: 3.6rem;
    }

    .logo {
      width: 40%;
    }

    .description {
      font-size: 2rem;
    }
  }
}
