.platform-introduction {
  .container {
    padding: 0;
    max-width: none;
    display: flex;
  }

  &:nth-child(2n + 1) {
    .container {
      flex-direction: row-reverse;
    }
  }

  .column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;

    &:nth-child(2) {
      padding-top: 70%;
    }
  }

  @include breakpoint($breakpoint-sm) {
    .container {
      display: block;
    }

    .column {
      width: 100%;
      &:nth-child(2) {
        padding-top: 120%;
      }
    }
  }

  .content,
  .partnerships {
    max-width: 560px;
    padding: 4rem 2rem;
    width: 100%;
  }

  @include breakpoint($breakpoint-xs) {
    .content {
      padding: 10rem 2rem;
    }
  }

  .partnerships {
    position: absolute;
    @include flyCenter();
  }

  .logo {
    height: 7rem;
    margin-bottom: 7rem;
    img {
      height: 100%;
      width: auto;
    }

    @include breakpoint($breakpoint-md) {
      height: 5rem;
      margin-bottom: 4rem;
    }
  }

  .description {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 6rem;

    @include breakpoint($breakpoint-md) {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 4rem;
    }
  }

  .partnerships {
    text-align: center;
    h3 {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
  }
}
