#respark-your-brand {
  padding: 20rem 0 10rem;
  background-image: url('../assets/images/respark-bg.png');
  background-position: center top;
  background-repeat: no-repeat;

  .content {
    gap: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;

    .title {
      font-size: max(5rem, min(9rem, 3vw));
      line-height: 1.1;
      flex-shrink: 0;

      &:first-child {
        font-weight: 800;
      }

      span {
        display: block;
      }
    }

    .description {
      max-width: 780px;
      font-size: max(2rem, min(3rem, 2vw));
    }

    @include breakpoint($breakpoint-sm) {
      text-align: center;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .illustration {
    text-align: center;

    .goals {
      display: flex;
      max-width: 1180px;
      margin: -10rem auto 0;
      justify-content: space-between;

      li {
        background-color: var(--primary-color);
        border-radius: 8px;
        padding: 2rem;
        flex-shrink: 0;
        width: calc(100% / 3 - 2rem);

        img {
          @include square(70px);
        }

        p {
          font-weight: 800;
          font-size: 3rem;
        }

        @include breakpoint($breakpoint-md) {
          img {
            @include square(50px);
          }

          p {
            font-size: 1.8rem;
          }
        }
      }

      @include breakpoint($breakpoint-sm) {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin-top: -4rem;

        li {
          width: 300px;
          max-width: 100%;
        }
      }

      @include breakpoint($breakpoint-xs) {
        margin-top: -3rem;
      }
    }
  }
}
