:root {
  --primary-color: #7ec4f6;
  --secondary-color: #255ceb;
  --white-color: #ffffff;
  --black-color: #060606;
  --dark-color: #081925;
}

@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jarkata";
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Jarkata";
  font-size: 1.8rem;
  line-height: 1.3;
  color: var(--white-color);
  background-color: var(--black-color);
  scroll-behavior: smooth;
}

body.freeze-body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

li.active > a {
  color: var(--primary-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.4rem;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 8rem;
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}

.section-title {
  font-size: 4rem;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}

.section-description {
  font-size: 2.5rem;
  line-height: 1.5;
}

.tag {
  padding: 0.5rem 2rem;
  background-color: var(--secondary-color);
  display: inline-block;
}

.cta-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem 3rem;
  border-radius: 10rem;
  transition: all 0.5s;
  cursor: pointer;
}
.cta-button:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: var(--white-color);
}

.text-bold {
  font-weight: bold;
}

header {
  padding: 2rem 0;
  font-size: 2.4rem;
  position: absolute;
  top: 7vw;
  left: 0;
  right: 0;
  z-index: 50;
}
header .header-nav ul {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  width: 100%;
}
header.active .header-nav {
  transform: translateX(0%);
}
header .header-nav li:hover a {
  color: var(--primary-color);
  transition: color 0.3s;
}
header .header-nav li a {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  header {
    padding: 3rem 0;
    font-size: 1.6rem;
  }
  header .header-nav ul {
    justify-content: center;
  }
}

#hero-banner {
  background-image: url("../assets/images/landing-hero.png");
}

#platform-hero {
  background-image: url("../assets/images/platform-hero.png");
  background-position: top center;
}

#hero-banner,
#platform-hero {
  background-size: cover;
  position: relative;
  height: 90vh;
}
@media only screen and (max-width: 992px) and (orientation: portrait) {
  #hero-banner,
  #platform-hero {
    height: 95vh;
    max-height: 850px;
  }
}
@media only screen and (max-width: 768px) {
  #hero-banner,
  #platform-hero {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  #hero-banner,
  #platform-hero {
    height: 95vh;
    max-height: 650px;
  }
}
@media screen and (max-height: 600px) {
  #hero-banner,
  #platform-hero {
    height: auto;
    max-height: none;
  }
}
#hero-banner .container,
#platform-hero .container {
  width: 100%;
}
@media screen and (orientation: landscape) {
  #hero-banner .container .container,
  #platform-hero .container .container {
    padding-top: 56.25%;
  }
}
#hero-banner .content,
#platform-hero .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  height: calc(100% - 7vw - 80px);
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 576px) {
  #hero-banner .content,
  #platform-hero .content {
    position: static;
    padding: 0 0 4rem;
  }
  #hero-banner .content .title,
  #platform-hero .content .title {
    font-size: 2.6rem;
  }
  #hero-banner .content .description,
  #platform-hero .content .description {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
  }
  #hero-banner .content .logo,
  #platform-hero .content .logo {
    width: 200px;
  }
}
@media screen and (max-height: 600px) {
  #hero-banner .content,
  #platform-hero .content {
    position: static;
    padding: 16rem 0 2rem;
  }
  #hero-banner .content .title,
  #platform-hero .content .title {
    font-size: 2.6rem;
  }
  #hero-banner .content .description,
  #platform-hero .content .description {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
  }
  #hero-banner .content .logo,
  #platform-hero .content .logo {
    width: 20rem;
  }
}
#hero-banner .logo,
#platform-hero .logo {
  width: 510px;
}
#hero-banner .title,
#platform-hero .title {
  font-size: 5rem;
  margin-top: 3rem;
  font-weight: 700;
  max-width: 100rem;
}
#hero-banner .description,
#platform-hero .description {
  font-size: 3rem;
  max-width: 890px;
  margin: 1rem 0 8rem;
}
@media only screen and (max-width: 1200px) {
  #hero-banner .title,
  #platform-hero .title {
    font-size: 3.6rem;
  }
  #hero-banner .logo,
  #platform-hero .logo {
    width: 40%;
  }
  #hero-banner .description,
  #platform-hero .description {
    font-size: 2rem;
  }
}

#trusted-partners {
  background-color: var(--dark-color);
  padding: 6rem 0 6rem;
}
#trusted-partners .partner-wrapper {
  max-width: 1200px;
  margin: auto;
}
#trusted-partners .partners {
  margin: 0 -1rem;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}
#trusted-partners .partners li {
  padding: 0 2rem;
  height: 140px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#trusted-partners .partners img {
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 1200px) {
  #trusted-partners .container {
    padding: 0;
  }
  #trusted-partners .partners {
    margin: 0;
    flex-wrap: wrap;
  }
  #trusted-partners .partners li {
    width: 50%;
  }
}
#acceleration {
  padding: 10rem 0 11rem;
  background-color: var(--dark-color);
}
#acceleration .title {
  font-size: 9rem;
  line-height: 1;
}
#acceleration .title strong {
  font-weight: 800;
}

@media only screen and (max-width: 1200px) {
  #acceleration .title {
    font-size: max(6vw, 4rem);
  }
}
#respark-your-brand {
  padding: 20rem 0 10rem;
  background-image: url("../assets/images/respark-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
}
#respark-your-brand .content {
  gap: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}
#respark-your-brand .content .title {
  font-size: max(5rem, min(9rem, 3vw));
  line-height: 1.1;
  flex-shrink: 0;
}
#respark-your-brand .content .title:first-child {
  font-weight: 800;
}
#respark-your-brand .content .description {
  max-width: 780px;
  font-size: max(2rem, min(3rem, 2vw));
}
@media only screen and (max-width: 768px) {
  #respark-your-brand .content {
    text-align: center;
    flex-direction: column;
    gap: 2rem;
  }
}
#respark-your-brand .illustration {
  text-align: center;
}
#respark-your-brand .illustration .goals {
  display: flex;
  max-width: 1180px;
  margin: -10rem auto 0;
  justify-content: space-between;
}
#respark-your-brand .illustration .goals li {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 2rem;
  flex-shrink: 0;
  width: calc(33.3333333333% - 2rem);
}
#respark-your-brand .illustration .goals li img {
  width: 70px;
  height: 70px;
}
#respark-your-brand .illustration .goals li p {
  font-weight: 800;
  font-size: 3rem;
}
@media only screen and (max-width: 992px) {
  #respark-your-brand .illustration .goals li img {
    width: 50px;
    height: 50px;
  }
  #respark-your-brand .illustration .goals li p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 768px) {
  #respark-your-brand .illustration .goals {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: -4rem;
  }
  #respark-your-brand .illustration .goals li {
    width: 300px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  #respark-your-brand .illustration .goals {
    margin-top: -3rem;
  }
}

#business-expansion {
  padding: 9vw 0 10rem;
  background-image: url("../assets/images/business-bg.png");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}
#business-expansion h2.title {
  text-align: center;
  font-size: 9rem;
  line-height: 1;
  max-width: 1220px;
  margin: 0 auto 10rem;
}
#business-expansion h2.title strong {
  font-weight: 800;
}
#business-expansion .components {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#business-expansion .components .item {
  width: 50%;
  max-width: 600px;
  margin-bottom: 12rem;
}
#business-expansion .components .item h3 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}
#business-expansion .components .item .partners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 0;
  min-height: 8rem;
}
#business-expansion .components .item .partners img {
  max-height: 100%;
}
#business-expansion .components .item .points {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  font-size: 2.4rem;
}
#business-expansion .components .item .points li {
  list-style: disc;
  list-style-position: inside;
}
@media only screen and (max-width: 576px) {
  #business-expansion .components .item .points {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  #business-expansion .components .item .points li {
    width: 250px;
  }
}

@media only screen and (max-width: 1125px) {
  #business-expansion h2.title {
    font-size: max(6vw, 4rem);
  }
  #business-expansion .components .item h3 {
    font-size: 3rem;
  }
  #business-expansion .components .item .partners {
    margin: 3rem 0;
  }
  #business-expansion .components .item .points {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 992px) {
  #business-expansion .components {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #business-expansion .components .item {
    width: 100%;
    max-width: none;
  }
  #business-expansion .components .item h3 {
    text-align: center;
  }
  #business-expansion .components .item .partners {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  #business-expansion .components .item .partners {
    flex-direction: column;
  }
}
#catalyst-for-growth .growth-item {
  display: flex;
}
#catalyst-for-growth .growth-item:nth-child(even) {
  flex-direction: row-reverse;
}
#catalyst-for-growth .growth-item .heading,
#catalyst-for-growth .growth-item .content {
  width: 50%;
  padding-top: 50%;
  position: relative;
}
#catalyst-for-growth .growth-item .heading > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#catalyst-for-growth .growth-item .heading h3 {
  position: absolute;
  font-size: 8rem;
  line-height: 1;
  font-weight: 700;
  top: 50%;
  left: 50%;
  width: 50rem;
  max-width: 90%;
  transform: translate(-50%, -50%);
}
#catalyst-for-growth .growth-item .content p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.4rem;
  width: calc(100% - 12rem);
  max-width: 600px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1125px) {
  #catalyst-for-growth .growth-item .heading h3 {
    font-size: max(6vw, 4rem);
  }
  #catalyst-for-growth .growth-item .content p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  #catalyst-for-growth .growth-item,
  #catalyst-for-growth .growth-item:nth-child(even) {
    flex-direction: column;
  }
  #catalyst-for-growth .growth-item .heading,
  #catalyst-for-growth .growth-item .content,
  #catalyst-for-growth .growth-item:nth-child(even) .heading,
  #catalyst-for-growth .growth-item:nth-child(even) .content {
    width: 100%;
    padding-top: 50%;
  }
  #catalyst-for-growth .growth-item .heading h3,
  #catalyst-for-growth .growth-item:nth-child(even) .heading h3 {
    width: calc(100% - 6rem);
    max-width: none;
    left: 3rem;
    transform: translate(0, -50%);
  }
  #catalyst-for-growth .growth-item .content p,
  #catalyst-for-growth .growth-item:nth-child(even) .content p {
    width: calc(100% - 6rem);
    max-width: none;
    left: 3rem;
    transform: translate(0, -50%);
  }
}
@media only screen and (max-width: 576px) {
  #catalyst-for-growth .growth-item .content p {
    font-size: 1.8rem;
  }
}
#good-service {
  padding: 8rem 0;
}
#good-service .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 992px) {
  #good-service .container {
    flex-direction: column;
  }
}
#good-service .section-title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 1200px) {
  #good-service .section-title {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
}
#good-service .content,
#good-service .leaders {
  width: calc(50% - 4rem / 2);
}
#good-service .content {
  max-width: 590px;
}
#good-service .content p {
  line-height: 1.6;
  font-size: 2rem;
  margin: 4rem 0;
}
#good-service .content p:last-child {
  color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
  #good-service .content p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1200px) {
  #good-service .content {
    width: calc(60% - 4rem / 2);
  }
}
@media only screen and (max-width: 992px) {
  #good-service .content {
    width: 100%;
    max-width: none;
  }
}
#good-service .leaders {
  max-width: 490px;
}
#good-service .leaders .people {
  margin-bottom: 6rem;
}
#good-service .leaders .avatar {
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
}
#good-service .leaders .name {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 768px) {
  #good-service .leaders .name {
    font-size: 2.4rem;
  }
}
#good-service .leaders .intro {
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  #good-service .leaders .intro {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1200px) {
  #good-service .leaders {
    width: calc(40% - 4rem / 2);
  }
}
@media only screen and (max-width: 992px) {
  #good-service .leaders {
    width: 100%;
    max-width: none;
  }
}

#contact-form {
  padding: 8rem 0;
  background-color: var(--dark-color);
}
#contact-form .container {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 992px) {
  #contact-form .container {
    flex-direction: column;
  }
}
#contact-form .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  padding-right: 2rem;
}
@media only screen and (max-width: 992px) {
  #contact-form .information {
    max-width: 100%;
    margin-bottom: 4rem;
  }
}
#contact-form .information .logo {
  width: 100%;
  margin-bottom: 4.5rem;
}
#contact-form .information .address {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 3rem;
}
#contact-form .information .phone {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
}
@media only screen and (max-width: 576px) {
  #contact-form .information .address {
    font-size: 1.6rem;
  }
  #contact-form .information .phone {
    font-size: 2rem;
  }
}
#contact-form .form-container {
  width: 564px;
}
@media only screen and (max-width: 992px) {
  #contact-form .form-container {
    width: 100%;
  }
}
#contact-form .form-container textarea,
#contact-form .form-container input {
  display: block;
  width: 100%;
  padding: 2rem;
  margin-bottom: 2rem;
  font-family: Jarkata;
  border-radius: 8px;
}
#contact-form .form-container textarea::placeholder,
#contact-form .form-container input::placeholder {
  color: #aaaddd;
  font-weight: 300;
}
#contact-form .form-container textarea {
  resize: vertical;
  height: 260px;
  width: 100%;
}
#contact-form .form-container .cta-button {
  border: none;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.platform-introduction .container {
  padding: 0;
  max-width: none;
  display: flex;
}
.platform-introduction:nth-child(2n+1) .container {
  flex-direction: row-reverse;
}
.platform-introduction .column {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
}
.platform-introduction .column:nth-child(2) {
  padding-top: 70%;
}
@media only screen and (max-width: 768px) {
  .platform-introduction .container {
    display: block;
  }
  .platform-introduction .column {
    width: 100%;
  }
  .platform-introduction .column:nth-child(2) {
    padding-top: 120%;
  }
}
.platform-introduction .content,
.platform-introduction .partnerships {
  max-width: 560px;
  padding: 4rem 2rem;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .platform-introduction .content {
    padding: 10rem 2rem;
  }
}
.platform-introduction .partnerships {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.platform-introduction .logo {
  height: 7rem;
  margin-bottom: 7rem;
}
.platform-introduction .logo img {
  height: 100%;
  width: auto;
}
@media only screen and (max-width: 992px) {
  .platform-introduction .logo {
    height: 5rem;
    margin-bottom: 4rem;
  }
}
.platform-introduction .description {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 992px) {
  .platform-introduction .description {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 4rem;
  }
}
.platform-introduction .partnerships {
  text-align: center;
}
.platform-introduction .partnerships h3 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}