#respark-your-brand
  padding: 20rem
  background-image: url('../assets/images/respark-bg.png')
  background-size: min(2000px, 100%) auto
  background-position: center top
  background-repeat: no-repeat

  & .content
    gap: 8rem
    display: flex
    justify-content: center
    align-items: center
    padding: 8rem 0

    & .title
      font-size: 9rem
      line-height: 1.1
      flex-shrink: 0

      & :first-child
        font-weight: 800
    & .description
      max-width: 780px
      font-size: 3rem

  & .illustration
    text-align: center
    & ul.goals
      display: flex
      gap: 2rem
      max-width: 1180px
      margin: -10rem auto 0
      & li
        background-color: var(--primary-color)
        border-radius: 8px
        padding: 2rem
        flex: 1
        & img
          width: 70px
          height: 70px
        & p
          font-weight: 800
          font-size: 3rem
