doctype html
html(lang="en")
  head
    title Brand FX
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/styles.css")

  body
    header
      .container
        nav.header-nav
          ul
            li
              a(href="solution.html") Product
            li
              a(href="about.html") Technology
            li
              a(href="contact.html") Distribution

    main
      section#hero-banner
        .container
          .content
            .logo
              img(src="./assets/images/hero-logo.png", alt="")
            h1.title A Hybrid Permanent Holding Company
            p.description(data-aos="fade-up" data-aos-delay="400") 
              |powered by a coalition of business units to incubate, catalyze or invest in scalable solutions to support the “Spark”.
            p(data-aos="fade-up" data-aos-delay="600")
              a(href="#" class="cta-button") Learn More

      section#trusted-partners
        .container
          .partner-wrapper
            ul.partners
              li
                img(src="./assets/images/logo-GOcxm.png", alt="")
              li
                img(src="./assets/images/logo-wagjag.png", alt="")
              li
                img(src="./assets/images/logo-shopley.png", alt="")
              li
                img(src="./assets/images/logo-tendy.png", alt="")
              li
                img(src="./assets/images/logo-gr8.png", alt="")

      section#respark-your-brand
        .container
          .content
            h2.title
              .span [re]Spark
              .span YourBrand
            .description 
              | A complimentary portfolio combining access to buyers, progressive datasets and robust conversion, targeting and transactional platforms.
          .illustration
            img(src="./assets/images/respark-illus.png", alt="")
            ul.goals 
              li
                img(src="./assets/images/icon-tech-white.png", alt="")
                p Technology
              li
                img(src="./assets/images/icon-data-white.png", alt="")
                p Data
              li
                img(src="./assets/images/icon-footprint-white.png", alt="")
                p Footprint

      section#business-expansion 
        .container 
          h2.title Connecting The 
            strong Physical and Digital 
            | Worlds
          .components 
            .item
              h3 Brand Accelerator
              .partners 
                img(src="./assets/images/logo-GOcxm-color.png", alt="Gocxm")
                img(src="./assets/images/logo-mobilexco-color.png", alt="Gocxm")
              ul.points 
                li Conversion 
                li Measurement 
                li Data Ownership 
                li Loyalty 
            .item
              h3 Market Distribution
              .partners 
                img(src="./assets/images/logo-wagjag-color.png", alt="Gocxm")
                img(src="./assets/images/logo-menupalace-color.png", alt="Gocxm")
              ul.points 
                li Conversion 
                li Measurement 
                li Data Ownership 
                li Loyalty 
            .item
              h3 Retail Commerce
              .partners 
                img(src="./assets/images/logo-gr8-color.png", alt="Gocxm")
                img(src="./assets/images/logo-tendy-color.png", alt="Gocxm")
              ul.points 
                li Conversion 
                li Measurement 
                li Data Ownership 
                li Loyalty 
            .item
              h3 Strategic Capital
              .partners 
                img(src="./assets/images/logo-shopley-color.png", alt="Gocxm")
                img(src="./assets/images/logo-kalk-color.png", alt="Gocxm")
              ul.points 
                li Conversion 
                li Measurement 
                li Data Ownership 
                li Loyalty 

      section#acceleration
        .container
          h2.title
            strong Acceleration
            br
            | Through 
            strong Collaboration 
      
      section#catalyst-for-growth
        .growth-list
          .growth-item
            .heading
              img(src="./assets/images/growth-photo-1.png", alt="incubate")
              h3
                span.text-primary Incubate
                br
                | The Future of Industries
            .content 
              p We seize opportunities to build or acquire mission-driven companies, harnessing their scalable solutions and production distribution prowess to shape the future of industries.
          .growth-item
            .heading
              img(src="./assets/images/growth-photo-2.png", alt="incubate")
              h3
                span.text-primary Catalyze
                br
                | Business Partnerships
            .content 
              p We drive partnership development while providing operational support. Unlock systematic value across the entire portfolio by cross-leveraging existing relationships. 
          .growth-item
            .heading
              img(src="./assets/images/growth-photo-3.png", alt="incubate")
              h3
                span.text-primary Galvanize
                br
                | Hearts & Minds
            .content 
              p We expertly craft narratives that resonate with our partners' missions. Create a magnetic appeal that fuels the passion of consumers and stakeholders and champion the  companies we collaborate with.

            






