doctype html
html(lang="en")
  head
    title Brand FX - Platform
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/reset.css")
    link(rel="stylesheet", href="./css/styles.css")

  body
    header
      .container
        .menu-burger
          img(src="./assets/images/icon-burgermenu.png", alt="")

        nav.header-nav
          ul
            li
              a(href="./") Home
            li
              a(href="platform.html#product") Product
            li
              a(href="platform.html#technology") Technology
            li
              a(href="platform.html#distribution") Distribution

    main
      section#platform-hero
        .container
          .content
            a.logo(href="./")
              img(src="./assets/images/hero-logo.png", alt="")
            p.description(data-aos="fade-up" data-aos-delay="400") 
              |We take a unique approach in leveraging technology and customer-centric innovation to build market share in “white spaces” where traditional brands & retailers are not effectively meeting customer needs.
            p(data-aos="fade-up" data-aos-delay="600")
              a(href="./" class="cta-button") Learn More

      section.platform-introduction
        .container 
          .column
            .content
              .scroll-anchor#product
              .logo 
                img(src="./assets/images/logo-GOcxm-lg.png", alt="")
              p.subtitle BRAND ACCELERATION
              p.description GOcxm is a conversion accelerator platform that connects the physical and digital worlds to capture data, drive engagement and build long term relationships through dynamic mobile experiences, tailored offers and personalized retargeting. We turn every consumer interaction into an action, every action into insights, and every insight into revenue.
              a(href="https://gocxm.com/" class="cta-button" target="_blank") Learn More
          .column(style="background-image: url(./assets/images/platform-bg-1.png)")
            .partnerships 
              h3 Partnerships 
              .logos 
                img(src="./assets/images/partnerships-1.png", alt="")
      
      section.platform-introduction 
        .container 
          .column
            .content
              .scroll-anchor#technology
              .logo 
                img(src="./assets/images/logo-shopley-lg.png", alt="")
              p.subtitle RETAIL COMMERCE
              p.description Shopley is an interactive, mobile commerce platform (mPOS) focused on Hospitality and Retail.  We turn every cell phone into a personal shopping cart to create a fully interactive store enhancing communication between staff and consumers, for co-shopping, collecting real-time data and turning it into personalized insights which can be used to retarget customers after checkout, through the platform.
              a(href="https://www.shopley.com/" class="cta-button" target="_blank") Learn More
          .column(style="background-image: url(./assets/images/platform-bg-2.png)")
            .partnerships 
              h3 Partnerships 
              .logos 
                img(src="./assets/images/partnerships-2.png", alt="")
      
      section.platform-introduction 
        .container 
          .column
            .content
              .scroll-anchor#distribution
              .logo 
                img(src="./assets/images/logo-wagjag-lg.png", alt="")
              p.subtitle MARKETPLACE & DISTRIBUTION
              p.description Partnerships, Joint Ventures and acquisitions of large-scale marketplaces with reach to 2M+ Canadian consumers.Marketplace relationships solve for ownership of a distribution channel and access to transactional data at low cost. Cost of acquisition is increasing, and zero & first-party data is scarce due to fragmented marketing environments creating less opportunity to identify & segment hyperlocal audiences.

              a(href="https://www.wagjag.com/" class="cta-button" target="_blank") Learn More
          .column(style="background-image: url(./assets/images/platform-bg-3.png)")
            .partnerships 
              h3 Partnerships 
              .logos 
                img(src="./assets/images/partnerships-3.png", alt="")
      
      section.platform-introduction 
        .container 
          .column
            .content
              .scroll-anchor#financial
              .logo.square 
                img(src="./assets/images/logo-kalk-lg_.png", alt="")
              p.subtitle FINANCIAL SERVICES
              p.description Our financial services are embedded in the SME platforms, providing access to credit options integrated into existing workflows. From payment processing to earn interchange revenues to aggregate financial products such as working capital loans, lines of credit, white label credit cards and “Buy Now, Pay Later” payment plans. Pre-qualified offers sourced from POS data, with access to our nationwide lender networks.
              a(href="https://www.shopley.com/capital.html" class="cta-button" target="_blank") Learn More
          .column(style="background-image: url(./assets/images/platform-bg-4.png)")
            .partnerships 
              h3 Partnerships 
              .logos 
                img(src="./assets/images/partnerships-4.png", alt="")

    script(src="./js/app.js") 
